[submodule "ext/SpinalHDL"]
	path = ext/SpinalHDL
	url = https://github.com/SpinalHDL/SpinalHDL.git
[submodule "ext/VexiiRiscv"]
	path = ext/VexiiRiscv
	url = https://github.com/SpinalHDL/VexiiRiscv.git
